/* 선택자 {속성:값;} */
main > h1 {
    background-color:#f5f5f5; /* 배경색 */
    color:#555; /*글자색 */
    /* font-family:'궁서'; */ 
    font-family:'pretendard', '마루 부리', '궁서'; 
    /* 글꼴명이 공백 또는 한글일때 따옴표 묶기 */
    /* 글꼴명 2개 이상 작성하기(대표글꼴, 후보글꼴) */
    /* 맑은 고딕, 궁서, 바탕, 굴링 등 컴퓨터 기본글꼴 외 설치글꼴은 웹주소를 따로 연결해야한다. */
} 
main > p {
    background-color: aliceblue;
    color:blue;
    font-family:'pretendard', 'Noto Sans KR';
}
main > .news {background-color:#eee;}
main > .news > li {
    color:#0cf;
    font-family:'마루 부리';
    font-size:1em; /* 웹 기본 크기 16px */
}
main > .news >.second {
    font-size:1.5em;
}
main > #blog {
    background-color:#eee;
}
main > #blog > h2 {
    font-size:0.875em;
}
main > #blog > p {
    background-color:lightyellow;
    font-size:1.125em;
}
main > #blog > h2 + p {
    font-size:0.625em; /* 10px */
}
